@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
  list-style-type: none;
  line-height: 1;
}

// Cores: tema claro

$primaria-Tclaro: #FFFFFF;
$secundaria-Tclaro: #2C4B7B;
$texto-Tclaro: #1A1A1A;
$azul-fundo-Tclaro: #1F3557;
$modal-Tclaro: rgba(0, 0, 0, 0.5);

body {
  height: 100vh;
  position: relative;
}