.contatos-descricoes {
  @include flex-container(center, space-evenly);
  margin: 10px 0;
  color: $secundaria-Tclaro;
  font-size: .875rem;
  text-align: center;
  width: 97%;

  h4 {
    width: 9.5rem;
  }
}

.lista {
  position: relative;
  min-height: 100px;
  max-height: 400px;
  padding: 2px 2px 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: $secundaria-Tclaro #f1f1f1;

  .botoes-opcoes {
    width: 0;
    height: 0;
    opacity: 0;
    @include flex-container;
    flex-direction: column;
    background: $secundaria-Tclaro;
    border-radius: 4px;
    position: absolute;
    top: 25px;
    z-index: 1;
    right: 1.5rem;
    transition: width .2s, height .2s, opacity .5s;

    button {
      display: none;
    }
  
    .editar {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 10px 0 5px 13px;
    }
  
    .excluir {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 5px 0 10px 10px;
    }
  }

  .botoes-opcoes.ativo {
    width: 6rem;
    height: 63px;
    opacity: 1;

    button {
      width: 100%;
      @include flex-container(center, normal);
      gap: 5px;
      color: $primaria-Tclaro;
      text-align: start;
      border: none;
      background: transparent;
      transition: .5s;
      font-size: .75rem;
      cursor: pointer;
  
      &:hover {
        background: $azul-fundo-Tclaro;
      }
    }
  }
}

.contato, 
.contato > .info-basicas {
  @include flex-container(center, space-evenly);
}

.contato {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.30);
  margin-bottom: 10px;
  padding: 5px;
  font-size: .75rem;
  text-align: center;
  width: 99%;
  transition: outline .5s;

  &:hover {
    outline: 1px solid $secundaria-Tclaro;
  }

  .info-basicas {
    justify-content: flex-start;
    gap: 5px;
  }

  div, 
  > p {
    width: 9.5rem;
  } 

  img {
    width: 2rem;
  }

  #checkbox,
  svg.opcoes-contato {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  #checkbox {
    left: 1rem;
  }

  svg.opcoes-contato {
    right: 1rem;
  }
}