.modais {
  display: none;
}

.modais.ativo {
  display: initial;
  position: absolute;
  background: $modal-Tclaro;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  z-index: 100;

  .conteiner-modais {
    position: relative;
    width: calc(100% - 300px);
    height: 100%;
    margin-left: 281px;
    background: transparent;
  }
}

.exclusao-permanente {
  display: none;
}

.exclusao-permanente.ativo {
  background: #2C4B7B;
  color: #fff;
  width: max-content;
  @include flex-container;
  flex-direction: column;
  gap: 1rem;
  font-size: .875rem;
  padding: 20px;
  position: absolute;
  border-radius: 8px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  .botoes {
    @include flex-container;
    gap: 10px;

    button {
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 0.70rem;
      cursor: pointer;
    }

    .confirmar {
      background: $primaria-Tclaro;
      color: $secundaria-Tclaro;
    }

    .negar {
      background: transparent;
      color: $primaria-Tclaro;
      outline: 1px solid $primaria-Tclaro;
    }
  }
}

form {
  display: none;
}

form.ativo {
  @include flex-container;
  flex-direction: column;
  gap: 15px;
  width: 30rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .foto-perfil {
    background: transparent;
    width: 4rem;
    height: 4rem;

    img {
      width: 100%;
      display: block;
      border-radius: 50%;
    }
  }

  .conteiner-input {
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
  }

  .conteiner-input, input, select {
    width: 100%;
  }

  .conteiner-input {
    background: $secundaria-Tclaro;
    border-radius: 8px;
  }

  input, select {
    background: transparent;
    border-radius: 8px;
    color: $primaria-Tclaro;
    padding: 10px 0 10px 40px;
    border: none;
    font-size: .75rem;

    &::placeholder {
      color: rgba(255, 255, 255, 0.706);
      font-size: .75rem;
    }
  }

  select {
    cursor: pointer;
    padding-left: 36px;
    color: $primaria-Tclaro;

    option {
      background: $azul-fundo-Tclaro;
      cursor: pointer;
    }
  }

  .botoes {
    text-align: center;
    margin-top: 20px;

    button {
      border: none;
      background: transparent;
      color: $primaria-Tclaro;
      padding: 12px 50px;
      border-radius: 10px;
      cursor: pointer;
    }

    .adicionar {
      background: $azul-fundo-Tclaro;
      margin-right: 15px;
    }

    .cancelar {
      outline: 1px solid $primaria-Tclaro;
    }
  }
}